.allUp{
    width: 82%;
    float: right;
    margin-left: 5%;
    margin-top:5% ;
}
.tituloI{
    width: 50%;
    height: 5vh;
   background-color:  #3e4041;
   border: none;
   border-radius: 6px;
}
.fics{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 5%;
      width: 90%;
    height: 26vh;
    border: solid 2px  #3e4041;
    border-radius: 5px;
    align-items: center;
    margin-bottom: 5%;
}

.btnC{
      width: 90%;
    height: 6vh;
    background-color:#3e4041;
    border-radius: 8px;
    

}
.btnC:hover{
    background-color: #7c8183;
}
.cima{
    width: 90%;
    height: 16vh;
    border: solid 2px  #3e4041;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}