.bcL{
  width: 100%;
  height: 100vh;
  background-color: rgb(13, 13, 13);
  display: flex;
  align-items: center;
  justify-content: center;
}
.bcg1{
  width: 100%;
  height: 100vh;
  background-image: url('../../images/8.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.3;
  position: absolute;
  position: fixed;
}
.containerForm .process{
  position: absolute;
  align-items: center;
  justify-content: center;
  margin-left: 40%;
}
.posF{
  display: flex;
  justify-content: center;
}
.containerForm {
  align-items: center;
  width: 70vw;
  height: 83vh;
  justify-content: center;
  background-color: #1D2123;
  border-radius: 25px;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
 
}
.containerForm h2{
  position: absolute;
  top: 0;
  margin-top: 5%;
  margin-left: 5%;
  font-size: 1.9rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;

}
.containerForm h4{
  position: absolute;
  bottom: 0;
  margin-top: 5%;
  margin-left: 5%;
  font-size: 0.8rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #515151;

}
.containerForm .rigth{
  width: 35vw;
  height: 80vh;
  border-radius: 20px;
  background-color: aquamarine;
  background-image: url('../../images/8.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  
}
.rigth{
  margin-right: 1%;
}
.containerForm .formContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 12rem;
  height: 16rem;
  color: black;
  border-radius: 10px;
}
.formContent .texti
{
  color: rgb(255, 255, 255);
  padding: 0.5rem;
  background-color: #1D2123;
  width: 115%;
  border-style: none;
  border: solid 1px  rgb(121, 121, 121);;
  border-radius: 5px;
  outline: none;
  background: transparent;
  font-size: 1.1rem;
  margin-bottom: 15%;
}
.env1{
  background-color: rgb(110, 110, 110);
  padding: 0.7rem;
  width: 125%;
  border-radius: 4px;
}
.formContent span{
  color: rgb(255, 255, 255);
  font-size: 12px;
}
.formContent{
  margin-left: 13%;
}
.env1:hover{
  background-color: rgb(212, 212, 212);
}