.containerMusic {
  width: calc(100% );
  margin-left: auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.mainPage {
  flex: 1;
}

.musicPlayer {
  padding: 0 2rem;
  background-color: #f0f3f4;
  display: flex;
}

.player {
  flex: 1;
  background-color: #f0f3f4;
}

.metadata {
  display: flex;
  gap: 1rem;
  align-items: center;
  color: #000;
}

.metadata > img {
  width: 80px;
  height: 80px;
  border-radius: 10px;
}

.container {
  width: 82%;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  position: relative;
  float: right;
}

.container .search_input_container {
  background: var(--white);
  padding: 1rem;
  border-radius: 3rem;
  width: 90%;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
  background-color: rgb(39, 39, 39);
}

.container .search_input_container svg {
  width: 2.5rem;
  height: 2.5rem;
}

.container .search_input_container input {
  border: none;
  outline: none;
  background: transparent;
  flex-grow: 1;
  font-size: 1.6rem;
}

.container .progress_container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 80vh;
  width: 100%;
  z-index: 1;
}

.container .results_container {
  margin: 2rem;
  display: flex;
  z-index: 2;
}

.songs_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 2rem;
}

.container .results_container .playlists_container {
  display: flex;
  flex-wrap: wrap;
  flex: 2;
}

.musicItem {
  border-radius: 10px;
  background: #111111;
  cursor: pointer;
  transition: all 0.6s ease;
}

.musicItem:hover {
  opacity: 0.7;
  transform: scale(1.05);
}

.musicItem > div {
  text-align: center;
  padding: 1rem;
}

.musicItem > img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
