.song_container {
  width: 82%;
  height: 6rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.itemRadio {
  width: 90%;
  border-radius: 0%;
}
.song_container:hover {
  background-color: var(--light-black);
}

.song_container .left {
  display: flex;
  flex: 1;
}

.song_container .left .play_btn {
  margin: 0 0.5rem;
}

.song_container .left .play_btn svg {
  width: 2rem;
  height: 2rem;
  color: var(--white);
}

.song_container .left img {
  width: 4rem;
  height: 4rem;
  object-fit: cover;
}

.song_container .left p {
  font-size: 1.4rem;
  font-weight: 500;
  margin-left: 1rem;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
}

.song_container .center {
  flex: 1;
}

.song_container .center p {
  text-align: center;
  font-size: 1.2rem;
  margin: 0;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
}

.song_container .right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  flex: 1;
}

.song_container .right p {
  margin: 0 0.5rem 0 1rem;
  font-size: 1.2rem;
}

.song_container .right .menu_btn svg {
  width: 2rem;
  height: 2rem;
  color: var(--white);
}
.container {
  position: absolute;
  left: 0;
}
