.bcL1{
  width: 100%;
  height: 100vh;
  background-color: rgb(13, 13, 13);
}
.bcg2{
  width: 100%;
  height: 100vh;
  background-image: url('../../images/austin-neill-hgO1wFPXl3I-unsplash.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.4;
  position: absolute;
  position: fixed;
}
.posF1{
  display: flex;
  justify-content: center;
}
.containerForm1 {
  display: flex;
  align-items: center;
  width: 400px;
  height: 62vh;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  border-radius: 25px;
  position: absolute;
  margin-top: 12%;
  margin-left: 36%;
  
}

.formContent1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 1rem;
  width: 12rem;
  height: 16rem;
  color: black;
  border-radius: 10px;
}
.formContent1 .texti1
{
  background-color: white;
  color: rgb(0, 0, 0);
  width: 135%;
  height: 4vh;
  border-style: none;
  border: none;
  outline: none;
  background: transparent;
  font-size: 1.1rem;
  border-bottom: 2px solid   rgb(0, 195, 255);
  margin-bottom: 11%;
}
.env2{
  background-color: rgb(0, 195, 255);
  height: 46vh;
  width: 135%;
  border-radius: 4px;
}
.formContent1 span{
  color: black;
  font-size: 12px;
}