body{
  background-color: #2e3031;
}

.specialChannel{
  display: flex;
  flex-direction: column;
}

.channelTopContainer {
   height: 120px;
   padding-top: 5px;
}



.channelTopTop {
   display: flex;
   align-items: center;
   padding: 10px;
}

.channelPersonContainer{
   display: flex;
   flex: 2;
   align-items: center;
   gap: 15px;
}

.channelPersonImg{
   width: 90px;
   height: 90px;
   object-fit: cover;
   border-radius: 50%;
}

.channelPersonName{
   font-size: 25px;
   color: #fff;
}

.descricao{
display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top:55px;
  margin-left: -100px;
  font-size: 10px;
 font-family: sans-serif, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
 color: #fff;
}

.channelButtonContainer {
   position: absolute;
}

.channelButton{
   position: relative;
   left: 1250px;
   padding: 15px;
   background-color: red;
   color: white;
   outline: none;
   border: none;
   font-size: 15px;
   border: 1px solid;
   cursor: pointer;
}

.channelBottomVideosTitle{
   margin: 10px 0px;
   font-size: 18px;
   color: #fff;
}

.channelVideos{
   display: flex;
   flex-wrap: wrap;
   gap: 100px;
}


.video_items video {
  width: 295px;
  height: 170px;
}

.video_items a img {
  width: 295px;
  height: 170px;
  object-fit: cover;
}

.video_items .details {
  margin-top: 15px;
}

.video_items .img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #fff;
  margin: 10px 20px 0 0;
}

.video_items img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video_items .heading {
  width: 80%;
  color: #fff;
}

.video_items p {
  margin: 0;
}

.video_items span {
  margin: 0;
  color: grey;
  font-size: 13px;
  font-weight: 500;
}

.flex {
  display: flex;
}

.barra{
  display: flex;
  justify-content: space-between;
  font-size: 10px;
 font-family: sans-serif, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
color: #fff;
}

.imgcapa{
width: 100%;
height: 200px;
}   

.file-upload-button{
  border-radius: 30px;
  border: none;
  padding: 10px 15px;
  margin-top: 30px;
  margin-left: 500px;
  cursor: pointer;
  width: 200px;
  background-color: #373737;
  color: white;
}


/*--------------video_items------------*/
@media screen and (min-width: 768px) {
  body {
    padding: 16px 48px 0 96px;
  }

  header {
    padding: 0 48px 0 96px;
  }

  header .header_container {
    height: calc(56px + 8px);
  }

  header .search {
    width: 300px;
    padding: 9px 12px;
  }

  header .toggle {
    display: none;
  }

  header .logo {
    display: block;
  }

  header .img {
    width: 40px;
    height: 40px;
    order: 1;
  }

  .nav .nav_items {
    row-gap: 27px;
  }

  .nav {
    left: 0;
    padding: 19px 24px 0;
    width: 88px;
  }

  main {
    padding-top: 20px;
    padding-left: 0;
  }

  .nav:hover {
    width: 265px;
  }

  .nav .nav_subititle,
  .nav .logo_name,
  .nav .nav_dropdown-icon,
  .nav .navtop .nav_link:nth-child(4),
  .nav .subscribe-contain {
    opacity: 0;
    transition: 0.5s;
  }

  .nav:hover .nav_subititle,
  .nav:hover .logo_name,
  .nav:hover .nav_dropdown-icon,
  .nav:hover .navtop .nav_link:nth-child(4),
  .nav:hover .subscribe-contain {
    opacity: 1;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
}

@media screen and (max-width: 420px) {
  header .search {
    width: 70%;
  }

  header .none,
  header .user {
    display: none;
  }

  .grid {
    grid-template-columns: repeat(1, 1fr);
  }

  main {
    padding-top: 20px;
    padding-left: 50px;
  }
}

@media screen and (min-width: 1080px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
  }
}
